@mixin box($width, $height) {
  width: $width;
  height: $height;
}

body {
  margin: 0;
}

.bg {
  &-image {
    //background-color:black;
    background-image:url('../images/background.jpg');
    background-size: cover;
    //filter: brightness(50%);
  }
  &-gray {
    background-color: #fbfbfb;
  }
}