@mixin box($width, $height) {
  width: $width;
  height: $height;
}

body {
  margin: 0;
}

.bg {
  &-blue {
    background: linear-gradient(to left, #029fad, #00c2af);
  }
  &-gray {
    background-color: #fbfbfb;
  }
}