.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;

  &:after {
    display: block;
    content: ' ';
    outline: none;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    background: #f76666;
    border:3px solid #b7daa1;
    transition: all .3s ease;
  }

  &.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
}

.menu-item {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  transition: transform .3s ease-in-out, background .2s ease-in-out;
  transition-timing-function: ease-in-out;

  background-color: #00000030;
  &:hover {
    background-color: #00000060;
  }

  &:nth-child(1) {
    transform: translate3d(0em, -6em, 0);

    //transform: translate3d(-0.5em, -7em, 0);
  }

  &:nth-child(2) {
    transform: translate3d(-4em, -4em, 0)
    //transform: translate3d(-4.8em, -5em, 0);
  }

  &:nth-child(3) {
    transform: translate3d(-6em, 0em, 0);

    //transform: translate3d(-7em, -0.5em, 0);
  }
}

.floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: #ffffff42;
  &:hover {
    background-color: #ffffff77;
  }
  //box-shadow: 0 0 15px 0 hsla(0, 0%, 0%, .2);
  color: white;
  text-align: center;
  line-height: 3.9;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.portfolio {
  &-img {
    overflow: hidden;

    & > img {
      transform: scale(1.1);
      transition: transform .35s;
    }
  }

  &-skill {
    transform: translateX(calc(100% + 2.2rem));
    @media(max-width: 1024px) {
      transform: translateX(0px);
      transition: transform .35s;
    }

    &-hover {
      transform: translateX(0px);
      transition: transform .35s;
    }
  }
}


