.only-mobile{
  display:none;
  @media(max-width:480px){
    display:block;
  }
}
.only-pc{
  display:block;
  @media(max-width:480px){
    display:none;
  }
}
.ellipsis{
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blur{
  backdrop-filter:blur(2px);
}

