@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

body {
  font-family: 'NanumSquareRound', Helvetica, Arial, sans-serif;
  font-weight:300;
  color:#404040;
}
.keep-all{
  word-break: keep-all;
}

.text{
  &-big {
    font-size: 4rem;
    @media(max-width: 480px) {
      font-size: 2rem;
    }
  }
  &-small{
    font-size: 1rem;
    @media(max-width: 480px) {
      font-size: 0.8rem;
    }
  }
  &-xsmall{
    font-size: 0.8rem;
    @media(max-width: 480px) {
      font-size: 0.6rem;
    }
  }
}
