@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('../font/NanumSquareRoundL.eot');
  src: url('../font/NanumSquareRoundL.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumSquareRoundL.woff2') format('woff2'),
    url('../font/NanumSquareRoundL.woff') format('woff'),
    url('../font/NanumSquareRoundL.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareR';
  src: url('../font/NanumSquareR.eot');
  src: url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
  url('../font/NanumSquareR.woff') format('woff'),
  url('../font/NanumSquareR.ttf') format('truetype');
}

body {
  font-family:'NanumSquare', Helvetica, Arial, sans-serif;
  color: #404040;
  font-weight:400;
}

.keep-all {
  word-break: keep-all;
}

.text {
  &-big {
    font-size: 4rem;
    @media(max-width: 480px) {
      font-size: 2rem;
    }
  }

  &-small {
    font-size: 1rem;
    @media(max-width: 480px) {
      font-size: 0.8rem;
    }
  }

  &-xsmall {
    font-size: 0.8rem;
    @media(max-width: 480px) {
      font-size: 0.6rem;
    }
  }
}
