.masonry {
  column-count: 3;
  column-gap: 1em;
  @media(max-width:480px){
    column-count: 2;

  }
  &-detail{
    column-count: 2;
    column-gap: 1em;
    @media(max-width:480px){
      column-count: 1;

    }
  }
}

.item { /* Masonry bricks or child elements */
  background:transparent;
  display: inline;
  width: 100%;
}

.flex-row-m{
  flex-direction: row;
  @media(max-width:480px){
    flex-direction: column;
  }
}
.padding{
  padding: 5rem;
  @media(max-width:480px){
    padding: 2rem;
  }
}
.margin{
  margin-right: 1.25rem;
  @media(max-width:480px){
    margin-right: auto;
  }
}