.masonry {
  column-count: 3;
  column-gap: 1em;
  @media(max-width:480px){
    column-count: 2;

  }
  &-detail{
    column-count: 2;
    column-gap: 1em;
    @media(max-width:480px){
      column-count: 1;

    }
  }
}
.item { /* Masonry bricks or child elements */
  background:transparent;
  display: inline;
  width: 100%;
}

.container{
  &.profile {
    padding: 6rem 2.5rem;
    @media(max-width: 480px) {
      padding: 2.5rem 1rem;
    }
  }
  &.detail{
    padding: 4rem 2.5rem 12rem;
    @media(max-width: 480px) {
      padding: 2.5rem 1rem 17rem;
    }
  }
}
.flex-row-m{
  flex-direction: row;
  @media(max-width:480px){
    flex-direction: column;
  }
}
.padding{
  padding: 5rem;
  @media(max-width:480px){
    padding: 2rem;
  }
}
.margin{
  @media(max-width:480px){
    margin-right: auto;
  }
}