.modal-mask {
  position: fixed;
  z-index:9998;
  top: 0;
  left: 0;
  overflow-y:scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.modal-container {
  position:relative;
  width:100%;
  border-radius: 2px;
  transition: all .3s ease;
}
.modal-img{
  width: 600px;
  height: 500px;
  background-color:rgba(255, 255, 255, 0.5);
  //background-color: white;
  overflow-y: scroll;
  @media(max-width:480px){
    width: 100%;
    height: 300px;
  }
}

.modal-body {
  width: 25%;
  height: 500px;
  word-break: break-word;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.95);
  //background: white;
  @media(max-width:480px){
    width: 100%;
    height: 250px;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}